.notes-fixed[data-v-7c10f32b] {
    position: absolute;
    top: 90px;
    left: 90px;
    z-index: 2;
    width: 300px;
    perspective: 500px;
    max-height: calc(100vh - 129px);
    transition: all .25s;
    overflow-y: auto
}

.notes-fixed li[data-v-7c10f32b] {
    position: relative;
    transition-duration: .25s;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    padding: 14px 16px;
    background: rgba(var(--alpha-bg), .4);
    border-radius: 5px;
    color: rgba(var(--alpha-color), .8);
    margin-bottom: 10px;
    text-align: left;
    word-break: break-all;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

.notes-fixed li[data-v-7c10f32b]:hover {
    transform: rotateX(3deg) rotateY(-3deg)
}

.notes-fixed li:hover .notes-fixed-cancel[data-v-7c10f32b] {
    opacity: 1
}

.notes-fixed li .notes-fixed-cancel[data-v-7c10f32b] {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 6px
}

.notes-fixed li .notes-fixed-cancel[data-v-7c10f32b]:hover {
    color: var(--primary-color)
}